body {
	font-family: "Arial";
	background-color: #66ffcc;
	color: #585858;
	text-align: center;
}
p {
	font-size: 18px;
	
}
#clock{
	font-weight: bold;
	font-size: 180px;

}
.cold {
	background-color: #95A5A6;
}
.chilly {
	background-color: #1ABC9C;
}
.nice {
	background-color: #2980B9;
}
.warm {
	background-color: #E67E22;
}
.hot {
	background-color: #E74C3C;
}

